Repository hekors/hekors-website, pull requests merged in 2022-01, with the labels that each got.

#6 Added code for project structuring
  .gitignore
  LICENSE.md
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.js
  src/components/Footer/index.js
  src/components/Header/index.js
  src/index.js
  src/pages/Landing.js
  src/reportWebVitals.js
  src/styles/global.css
Labels: Good to merge :white_check_mark:

#7 UI Development: Header component, Design Systems, Page Updated
  .gitpod.yml
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/components/Header/header-style.css
  src/components/Header/header-style.css.map
  src/components/Header/header-style.scss
  src/components/Header/index.js
  src/components/component-global.css
  src/components/elements/Button/button-styles.css
  src/components/elements/Button/button-styles.css.map
  src/components/elements/Button/button-styles.scss
  src/components/elements/Button/index.js
  src/index.js
  src/pages/Landing.js
  src/styles/global.css
  src/styles/properties/cards.scss
  src/styles/properties/colors.css
  src/styles/properties/colors.css.map
  src/styles/properties/colors.scss
  src/styles/properties/elevations.scss
  src/styles/properties/input.scss
Labels: Design System: CSS, Design System: React Component, Amazing work :fire:, Good to merge :white_check_mark:

#8 [UI Component]: Gradient BG added to CTA card
  src/pages/Landing.js
  src/styles/global.css
Labels: UI: Fix, UI: Development, Design System: CSS, Amazing work :fire:, WOW

#12 [UI Page]: Blogs and Experience Page added (wip)
  src/App.js
  src/components/BlogCard/blog-card-style.css
  src/components/BlogCard/blog-card-style.css.map
  src/components/BlogCard/blog-card-style.scss
  src/components/BlogCard/index.js
  src/components/Header/index.js
  src/components/component-global.css
  src/pages/CommunityStories/_community_stories.json
  src/pages/CommunityStories/index.js
  src/pages/Hackathons/MLHLocalHackDayBuild2022.js
  src/styles/properties/colors.css
Labels: UI: Development, UI: New Page/View, Design System: React Component, WOW, On Hold :no_entry_sign:

#13 [Fixed Typo]: Typo fixed in landing page CTA card
  src/pages/Landing.js
Labels: UI: Fix, Docs: Fix, Good to merge :white_check_mark:

#16 [UI Feature #15]: Tooltip added to coming soon tag
  src/pages/Hackathons/MLHLocalHackDayBuild2022.js
Labels: UI: Development, Amazing work :fire:, Good to merge :white_check_mark:, WOW

#18 Added border with random colors to profile pictures
  package-lock.json
  src/components/BlogCard/index.js
Labels: UI: Development, Amazing work :fire:, Good to merge :white_check_mark:, WOW

#21 Update: Added Footer, Updated content on MLH-LHD Page
  src/App.js
  src/assets/GuildSS.svg
  src/components/Footer/footer-style.css
  src/components/Footer/footer-style.css.map
  src/components/Footer/footer-style.scss
  src/components/Footer/index.js
  src/components/Header/header-style.css
  src/components/Header/header-style.css.map
  src/components/elements/Button/button-styles.css
  src/components/elements/Button/button-styles.css.map
  src/components/elements/Input/input-styles.css
  src/components/elements/Input/input-styles.css.map
  src/pages/Hackathons/MLHLocalHackDayBuild2022.js
  src/pages/Landing.js
  src/styles/properties/colors.css
  src/styles/properties/colors.css.map
  src/styles/properties/colors.scss
Labels: UI: Fix, UI: Development, Docs: Fix, UI: New Page/View, Design System: React Component, Amazing work :fire:, Good to merge :white_check_mark:, WOW

#25 Members Page Added
  src/App.js
  src/components/BlogCard/blog-card-style.css
  src/components/BlogCard/blog-card-style.css.map
  src/components/Footer/footer-style.css
  src/components/Footer/footer-style.css.map
  src/components/Header/header-style.css
  src/components/Header/header-style.css.map
  src/components/Header/index.js
  src/components/elements/Button/button-styles.css
  src/components/elements/Button/button-styles.css.map
  src/components/elements/CircleImage/CircleImage.css
  src/components/elements/CircleImage/CircleImage.css.map
  src/components/elements/CircleImage/CircleImage.scss
  src/components/elements/CircleImage/index.js
  src/components/elements/Input/input-styles.css
  src/components/elements/Input/input-styles.css.map
  src/pages/CommunityMembers/FoundingMembers.json
  src/pages/CommunityMembers/Members.css
  src/pages/CommunityMembers/Members.css.map
  src/pages/CommunityMembers/Members.js
  src/pages/CommunityMembers/Members.scss
  src/pages/Landing.js
  src/styles/global.css
  src/styles/properties/colors.css
  src/styles/properties/colors.css.map
Labels: enhancement, UI: Fix, UI: Development, Design System: CSS, Design System: React Component, Amazing work :fire:, Good to merge :white_check_mark:, WOW

#26 [Updates]: Community members page added, Header component updated
  src/components/Header/index.js
  src/pages/CommunityMembers/Members.js
Labels: UI: Fix, UI: Development, UI: New Page/View, Design System: CSS, Design System: React Component, Amazing work :fire:, Good to merge :white_check_mark:, WOW

#28 [Docs]: Content for README file
  README.md
Labels: documentation, Docs: Fix, Docs: To write from scratch, Good to merge :white_check_mark:, WOW
